body{
    font-family: 'Montserrat', sans-serif;
}

.head{
    color: white;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(images/donation3.jpg);
    background-size: cover;
    height: 600px;

}
.center{
    padding-top: 200px;
}
.head-font{
    font-size: 50px;
}
.p-font{
    font-size: 20px;
}
.button-size{
    font-size: 18px;
    background-color: rgb(207, 88, 45);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}
.part-2{
    text-align: center;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item {
    padding: 5px;
    margin: 35px;
    font-size: 20px;
    text-align: center;
  }
.select{
    background: rgba(255, 99, 71, 0.179);
    border: 2px solid orangered;
    border-radius: 10px;
}
.border-button{
    border-bottom: 2px solid gray;
    width: 40%;
    margin-left: 450px;
}
.center-font{
    text-align: center;
}
.flex-service{
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.do-flex-1{
    background-color: rgba(51, 177, 135, 0.582);
}
.do-flex-2{
    background-color: rgba(207, 187, 161, 0.527);
}
.do-flex-3{
    background-color: rgba(109, 123, 74, 0.648);
}
.do-flex{
    border-radius: 10px;
    width: 20%;
    padding: 10px 10px;
    margin: 5px 50px;
}
.coding-pic img{
    width: 300px;
    padding-top: 50px;
    margin-left: 55px;
}
.sec3{
        padding-right: 155px;
        padding-top: 20px;
        padding-left: 50px;
        text-align: justify;

}
.know{
    text-decoration: none;
    background-color: rgb(255, 81, 0);
    border: 2px solid rgb(255, 81, 0);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.image-text{
    display: flex;
    padding-left: 20px;
}
span{
    color: orangered;
}
footer{
    text-align: center;
    background-color: gray;
    padding: 15px 15px;
}
.email-send{
    text-align: center;
    
}
.button-design{
    padding: 40px 10px;
    background-color: rgba(255, 68, 0, 0.326);
    border-radius: 10px;
    width: 30%;
    margin-left: 34%;
}
#button-submit{
    background-color: orangered;
    text-decoration: none;
    border: 2px solid orangered;
    border-radius: 10px;
}
#email{
    border: 2px solid gainsboro;
    padding: 5px 5px;
    background-color: gainsboro;
}